---
import { POSTS_PER_PAGE } from "../config.ts";
import { getBlogPosts } from "src/utils";
import RagTemplate from "$layouts/RagTemplate.astro";


---

<!-- <PostList {posts} totalPages={total} currentPage={1} showFeatured>
  <h1>Latest blog posts</h1>
</PostList> -->
<RagTemplate active="home" />

